@font-face {
  font-family: Three;
  src: url(../fonts/3270/3270-Regular.ttf);
}
* {
  box-sizing: border-box;
  font-family: Three;
  color: #ffffff;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  background-image: radial-gradient(#253043, #000);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nuts-count {
  position: absolute;
  top: 3vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
#nuts-count span {
  font-size: 22px;
  font-weight: 900;
}
#nuts-count img {
  width: 25px;
  height: 22px;
}

#restart-game {
  position: absolute;
  top: 5vh;
  left: 5%;
  background: none;
}

.main-view #engine {
  width: 200px;
  height: 200px;
  background: transparent;
  background-image: url(../img/engine.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.main-view #engine:active {
  transform: scale(0.95);
}

.upgrade-view, .workers-view {
  display: none;
  width: 90vw;
}
.upgrade-view h3, .workers-view h3 {
  font-size: 20px;
  font-weight: 900;
}
.upgrade-view p, .workers-view p {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upgrade-view p button, .workers-view p button {
  height: 40px;
  background: #374f77;
  border: 3px solid #6687be;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.upgrade-view p button:active, .workers-view p button:active {
  background: #273d63;
  border: 3px solid #374f76;
}
.upgrade-view p button.success, .workers-view p button.success {
  background: #277e2a;
  border: 3px solid #26c92c;
}
.upgrade-view p button.error, .workers-view p button.error {
  background: #a81414;
  border: 3px solid #ff3a3a;
}
.upgrade-view p button img, .workers-view p button img {
  height: 100%;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: #273b5f;
}
.bottom-menu button {
  background: #374f77;
  font-size: 20px;
  font-weight: 900;
  padding: 15px;
  cursor: pointer;
  border: 2px solid #5169ba;
  border-radius: 4px 4px 0 0;
}
.bottom-menu button.active {
  transform: scale(1.2);
}

.main-quest-dialog {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
}
.main-quest-dialog .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#000000, rgba(0, 3, 11, 0.8784313725));
  opacity: 0;
  transition: opacity 0.5s ease;
}
.main-quest-dialog .continue {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  text-align: center;
  background: none;
  animation: infinite linear 3s light-pulsation;
}
.main-quest-dialog .content img {
  position: absolute;
  bottom: -5%;
  left: 0%;
  height: 70%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s ease;
}
.main-quest-dialog .content #main-quest-text {
  position: absolute;
  bottom: 61%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
  margin: 0;
  padding: 15px;
  background: #b4ceff;
  color: #000628;
  font-weight: 600;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.main-quest-dialog .content #main-quest-text::before {
  content: " ";
  position: absolute;
  bottom: -15px;
  left: 25%;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 15px solid #b4ceff;
}

.floating-text {
  position: absolute;
  filter: drop-shadow(0 0 10px #fcff3d);
  font-size: 30px;
  font-weight: 900;
  pointer-events: none;
  opacity: 1;
  animation: floatUp var(--duration) ease-out forwards;
}

@keyframes floatUp {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(calc(var(--distance) * cos(var(--angle))), calc(var(--distance) * -1 * sin(var(--angle))));
    opacity: 0;
  }
}
@keyframes light-pulsation {
  0% {
    color: rgba(255, 255, 255, 0.2941176471);
  }
  50% {
    color: rgba(255, 255, 255, 0.9058823529);
  }
  100% {
    color: rgba(255, 255, 255, 0.2941176471);
  }
}

/*# sourceMappingURL=style.css.map */
