@font-face {
  font-family: Three;
  src: url(../fonts/3270/3270-Regular.ttf);
}
* {
  box-sizing: border-box;
  font-family: Three;
  color: #ffffff;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  background-image: radial-gradient(#002e7e, #000);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offline-earning {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.offline-earning .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#000000, rgba(0, 3, 11, 0.8784313725));
}
.offline-earning .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  background: linear-gradient(135deg, #0069ff, rgba(0, 80, 253, 0.5411764706), #001a40 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px dashed;
  border-radius: 10px;
}
.offline-earning .content .text {
  text-align: center;
  margin: 0;
}
.offline-earning .content .amount {
  display: flex;
  margin: 20px 0;
  gap: 10px;
}
.offline-earning .content .amount #sum {
  font-size: 20px;
  font-weight: 600;
}
.offline-earning .content .amount .nut {
  margin-top: -2px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.offline-earning .content button {
  color: #000000;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

#nuts-count {
  position: absolute;
  top: 3vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
#nuts-count span {
  font-size: 22px;
  font-weight: 900;
}
#nuts-count img {
  width: 25px;
  height: 22px;
}

#restart-game {
  position: absolute;
  top: 5vh;
  left: 5%;
  background: none;
}

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#003eac, #000);
  display: flex;
  justify-content: center;
  z-index: 9999999;
}
.preloader svg {
  width: 20%;
}
.preloader svg .spinning-cog4423 {
  fill: #000000;
  animation: spinning-cog4423 1.3s infinite ease;
  transform-origin: 50% 50%;
  /* Ensures the cog rotates around its center */
}

.main-view #engine {
  width: 250px;
  height: 250px;
  background: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, opacity 3s, filter 3s;
}
.main-view #engine:active {
  transform: scale(0.95);
}

.upgrade-view, .workers-view {
  display: none;
  width: 90vw;
}
.upgrade-view h3, .workers-view h3 {
  font-size: 20px;
  font-weight: 900;
}
.upgrade-view p, .workers-view p {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upgrade-view p button, .workers-view p button {
  height: 40px;
  background: linear-gradient(135deg, black, transparent, black 80%);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.upgrade-view p button:active, .workers-view p button:active {
  background: linear-gradient(135deg, black, rgba(0, 0, 0, 0.5647058824), black 80%);
  border: 2px solid rgb(7, 8, 15);
}
.upgrade-view p button img, .workers-view p button img {
  height: 100%;
}
.upgrade-view p button#upgrade-engine, .workers-view p button#upgrade-engine {
  width: 100%;
  padding: 20px;
  height: 63px;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border: 3px solid #745d27;
}
.upgrade-view p button#upgrade-engine span, .workers-view p button#upgrade-engine span {
  font-size: 18px;
  font-weight: 600;
  height: 16px;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: transparent;
}
.bottom-menu button {
  background: linear-gradient(135deg, black, transparent, black 80%);
  font-size: 20px;
  font-weight: 900;
  padding: 15px;
  cursor: pointer;
  border-bottom: 0;
  border-radius: 20px 20px 0 0;
}
.bottom-menu button:active {
  border: 2px outset buttonborder;
  border-image: initial;
}
.bottom-menu button.active {
  transform: scale(1.2);
}

.main-quest-dialog {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
}
.main-quest-dialog .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#000000, rgba(0, 3, 11, 0.8784313725));
  opacity: 0;
  transition: opacity 0.5s ease;
}
.main-quest-dialog .continue {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  text-align: center;
  background: none;
  animation: infinite linear 3s light-pulsation;
}
.main-quest-dialog .content img {
  position: absolute;
  bottom: -5%;
  left: 0%;
  height: 60%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s ease;
}
.main-quest-dialog .content #main-quest-text {
  position: absolute;
  bottom: 53%;
  left: 50%;
  transform: translateX(-50%) skewX(-10deg);
  max-width: 90%;
  margin: 0;
  padding: 15px;
  background: #b4ceff;
  color: #000628;
  font-weight: 600;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.main-quest-dialog .content #main-quest-text h4 {
  color: #02379b;
  margin: 0 0 10px;
}
.main-quest-dialog .content #main-quest-text::before {
  content: " ";
  position: absolute;
  bottom: -14px;
  left: 25%;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 15px solid #b4ceff;
}

.floating-text {
  position: absolute;
  filter: drop-shadow(0 0 10px var(--color));
  font-size: 30px;
  font-weight: 900;
  pointer-events: none;
  opacity: 1;
  animation: floatUp var(--duration) ease-out forwards;
}

@keyframes floatUp {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(calc(var(--distance) * cos(var(--angle))), calc(var(--distance) * -1 * sin(var(--angle))));
    opacity: 0;
  }
}
@keyframes light-pulsation {
  0% {
    color: rgba(255, 255, 255, 0.2941176471);
  }
  50% {
    color: rgba(255, 255, 255, 0.9058823529);
  }
  100% {
    color: rgba(255, 255, 255, 0.2941176471);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spinning-cog4423 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
