@font-face {
    font-family: Three;
    src: url(../fonts/3270/3270-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: Three;
    color: #ffffff;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

html { 
    position: fixed;
    top: 0;
    left: 0;
}

body {
    margin: 0;
    background-image: radial-gradient(#002e7e, #000);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    pointer-events: none;
}

.offline-earning {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(#000000, rgba(0, 3, 11, 0.8784313725));
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        padding: 20px;
        background: linear-gradient(135deg, #0069ff, #0050fd8a, #001a40 80%);
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px dashed;
        border-radius: 10px;

        .text {
            text-align: center;
            margin: 0;
        }

        .amount {
            display: flex;
            margin: 20px 0;
            gap: 10px;

            #sum {
                font-size: 20px;
                font-weight: 600;
            }

            img {
                margin-top: -2px;
                width: 20px;
                height: 20px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        button {
            color: #000000;
            padding: 10px;
            width: 100%;
            border-radius: 5px;
            border: none;
        }
    }
}

header {
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    #restart-game {
        font-size: 36px;
        height: 30px;
        background: none;
        padding: 0;
        border: none;
    }

    #nuts-count {
        font-size: 24px;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        span {
            font-size: 22px;
            font-weight: 900;
        }

        img {
            width: 25px;
            height: 22px;
        }
    }

    .audio-switcher {
        width: 20px;
        height: 20px;
        background-size: contain;
        background-color: transparent;
        border: none;
    }
}

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#003eac, #000);
    display: flex;
    justify-content: center;
    z-index: 9999999;

    svg {
        width: 20%;
        
        .spinning-cog4423 {
            fill: #000000;
            animation: spinning-cog4423 1.3s infinite ease;
            transform-origin: 50% 50%;
            /* Ensures the cog rotates around its center */
        }
    }
}

.main-view {
    #engine {
        width: 250px;
        height: 250px;
        background: transparent;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        transition: transform 0.2s, opacity 3s, filter 3s;

        &:active {
            transform: scale(0.95);
            // filter: drop-shadow(0 0 30px #fd0b27);
        }
    }
}

.upgrade-view, .workers-view {
    display: none;
    width: 90vw;

    h3 {
        font-size: 20px;
        font-weight: 900;
    }

    p {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        height: 40px;
        background: linear-gradient(135deg, black, transparent, black 80%);
        border-radius: 8px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &:active {
            background: linear-gradient(135deg, black, #00000090, black 80%);
            border: 2px solid rgb(7, 8, 15);
        }

        // &.success {
        //     background: #277e2a;
        //     border: 3px solid #26c92c;
        // }

        &.error {
            background: linear-gradient(135deg, #870000, transparent, #620000 80%);
            border: 2px solid #620000;
        }

        img {
            height: 100%;
        }

        &#upgrade-engine {
            width: 100%;
            padding: 20px;
            height: 63px;
            background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
            border: 3px solid #745d27;

            span {
                font-size: 18px;
                font-weight: 600;
                height: 16px;
            }
        }
    }
}

.workers-view {
    .container {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        
        .worker-info {
            display: flex;
            flex-direction: column;
            width: 100%;

            .worker-image {
                background-size: cover;
                background-size: cover;
                width: 100%;
                height: 20vh;
                border-radius: 10px;
                border: 5px dashed;
            }
        }
    }
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: transparent;

    button {
        // background: #003289;
        background: linear-gradient(135deg, black, transparent, black 80%);
        font-size: 20px;
        font-weight: 900;
        padding: 15px;
        cursor: pointer;
        // border: 2px solid #00225e;
        border-bottom: 0;
        border-radius: 20px 20px 0 0;

        &:active {
            border: 2px outset buttonborder;
            border-bottom: 0;
            border-image: initial;
        }

        &.active {
            transform: scale(1.2);
        }
    }
}

.main-quest-dialog {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(#000000, #00030be0);
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    
    .continue {
        display: none;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
        text-align: center;
        background: none;
        animation: infinite linear 3s light-pulsation;
    }

    .content {
        img {
            position: absolute;
            bottom: -5%;
            left: 0%;
            height: 60%;
            transform: translate(-50%, 0);
            opacity: 0;
            transition: 0.5s ease;
        }

        #main-quest-text {
            position: absolute;
            bottom: 53%;
            left: 50%;
            transform: translateX(-50%) skewX(-10deg);
            max-width: 90%;
            margin: 0;
            padding: 15px;
            background: #b4ceff;
            color: #000628;
            font-weight: 600;
            border-radius: 8px;
            opacity: 0;
            transition: opacity 0.5s ease;

            h4 {
                color: #02379b;
                margin: 0 0 10px;
            }

            &::before{
                content: " ";
                position: absolute;
                bottom: -14px;
                left: 25%;
                width: 0;
                height: 0;
                border-right: 10px solid transparent;
                border-top: 15px solid #b4ceff;
            }
        }
    }
}

.floating-text {
    position: absolute;
    filter: drop-shadow(0 0 10px var(--color));
    font-size: 30px;
    font-weight: 900;
    pointer-events: none;
    opacity: 1;

    animation: floatUp var(--duration) ease-out forwards;
}

@keyframes floatUp {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(calc(var(--distance) * cos(var(--angle))), calc(var(--distance) * -1 * sin(var(--angle))));
        opacity: 0;
    }
}

@keyframes light-pulsation {
    0% {
        color: #ffffff4b;
    }
    50% {
        color: #ffffffe7;
    }
    100% {
        color: #ffffff4b;
    }
}

@keyframes fadeOut {
    0% { 
        opacity: 1; 
    }
    100% { 
        opacity: 0; 
    }
}

@keyframes spinning-cog4423 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}